# Useful resources
# Git docs       - https://git-scm.com/docs/git-config
# henrebotha     - https://github.com/henrebotha/dotfiles/blob/main/git/dot-gitconfig
# mwhite         - https://gist.github.com/mwhite/6887990
# jvns           - https://jvns.ca/blog/2024/02/16/popular-git-config-options/
# 0livare        - https://gist.github.com/0livare/4960a81addfbcdc48abfe855fae0af43
# hansschnedlitz - https://www.hansschnedlitz.com/git-aliases/

[core]
    ignoreCase = false
    # https://github.blog/2022-06-29-improve-git-monorepo-performance-with-a-file-system-monitor/
    # fsmonitor = true
    untrackedCache = true
    # https://git-scm.com/docs/git-config#Documentation/git-config.txt-coresafecrlf
    eol = lf
    # safecrlf = true
    # autocrlf = input
    # excludesFile = ~/.gitignore  # global gitignore
    # attributesFile = ~/.gitattributes  # global gitattributes
    editor = vim
    # https://blog.thomasheartman.com/posts/change-your-git-comment-character
    # commentChar = ";"

[branch]
    sort = -committerdate

[commit]
    verbose = true

[diff]
    # https://luppeng.wordpress.com/2020/10/10/when-to-use-each-of-the-git-diff-algorithms/
    algorithm = histogram

[init]
    defaultBranch = main

[merge]
    conflictStyle = diff3  # https://ductile.systems/zdiff3/ - zdiff3 brakes things for some reason

[pull]
    # ff = only
    rebase = true

[push]
    # autoSetupRemote = true

[rebase]
    # autoStash = true

[rerere]
    # https://stackoverflow.com/questions/49500943/what-is-git-rerere-and-how-does-it-work
    enabled = true

[tag]
    sort = -taggerdate

# Include separate gitconfigs
[includeIf "gitdir:~/pr/"]
    path = ~/pr/.gitconfig

[includeIf "gitdir:~/wk/"]
    path = ~/wk/.gitconfig

[alias]
    alias = config --get-regexp '^alias.'
    unm   = config user.name
    uem   = config user.email

    i  = init
    ic = !git init && git commit --allow-empty -m "Initial commit"
    a  = !git add ${@} && git status --short
    aa = !git add --all && git status --short
    cl = clone
    s  = status --short

    c   = commit
    cm  = commit -m
    ca  = commit --amend
    cam = commit --amend -m

    pl  = pull
    plr = pull --rebase
    pu  = push

    stl = stash list
    sts = stash save
    sta = stash apply
    std = stash drop
    stc = stash clear

    br  = branch
    sw  = switch
    ch  = checkout
    chb = checkout -b
    r   = remote
    ra  = remote add
    rsu = remote set-url
    rrm = remote remove

    lo  = log --graph --oneline
    los = log --graph --oneline --stat -5
