# Readline - https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html

# Controls what happens when readline wants to ring the terminal bell
set bell-style none

# Displays the common prefix of the set of possible completions using a different color
set colored-completion-prefix on

# Displays possible completions using different colors to indicate their file type
set colored-stats on

# Performs filename matching and completion in a case-insensitive fashion
set completion-ignore-case on

# Number of possible completions that determines when the user is asked whether
# the list of possibilities should be displayed
set completion-query-items 200

# Allow utf-8 input and output, instead of showing stuff like $'\0123\0456'
set convert-meta off
set input-meta on
set output-meta on

# Completed names which are symbolic links to directories have a slash appended
set mark-symlinked-directories on

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show all autocomplete results at once
set page-completions off

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# More intelligent when autocompleting by also looking at the text after
# the cursor. for example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla".
set skip-completed-text on

# Show extra file information
set visible-stats on

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward
