name: 'Move files'
run-name: 'Move winfiles'

on:
  push:
    branches:
      - main
    paths:
      - 'genfiles/images/**'
      - 'winfiles/**'
      - '!winfiles/README.md'

concurrency:
  group: ${{ github.workflow }}

permissions:
  contents: write

jobs:
  move-files:
    runs-on: ubuntu-latest
    name: 'Move winfiles'

    steps:
      - name: 'Checkout repository'
        id: checkout-repo
        uses: actions/checkout@v4

      - name: 'Move files'
        id: move-files
        uses: ./.github/actions/templates/moveFiles
        with:
          CONFIG_FILE_PATH: 'winfiles/to_move.yaml'
